# Telegram configuration
TELEGRAM_BOT_TOKEN="SUSTITUYE POR EL TUYO"
TELEGRAM_ALLOWED_USER_IDS="SUSTITUYE POR EL TUYO"

# LLM APIs
GROQ_API_KEY="SUSTITUYE POR EL TUYO"
OPENROUTER_API_KEY="SUSTITUYE POR EL TUYO"
OPENROUTER_MODEL="openrouter/free"

# Local Storage
DB_PATH="./memory.db"

# Future integrations
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"

# Bitget Authentication
BITGET_API_KEY=""
BITGET_API_SECRET=""
BITGET_PASSPHRASE=""

# Integrations
MAKE_LINKEDIN_WEBHOOK_URL=https://hook.us1.make.com/tu-token-aqui""
